

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


.nb .cn {
  font-family: 'Roboto Mono', monospace;
  color: #ff0000;
}

.cn:hover {
  background-color: #aba9a9; /* Cambia este valor al color deseado */
}
