@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


.nb .cn {
  font-family: 'Roboto Mono', monospace;
  color: #ff0000;
}

.cn:hover {
  background-color: #0b4e6a;
  border-bottom: 3px solid #f2f0f0;
 
}

/* body{
  background-color: rgb(169, 172, 165);
} */